body {
  font-family: arial, sans-serif;
  background-color: rgb(247, 243, 255);
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
  margin: 12px auto;
}

.app {
  background-color: white;
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 16px;
  border: black;
}

.form {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-input {
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 60%;
  font-size: 16px;
  padding: 15px 20px;
}

.submit-input {
  border-radius: 6px;
  padding: 15px 35px;
  font-size: 16px;
  color: white;
  margin-left: 10px;
}

.current-city {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.app-emoji {
  font-size: 44px;
  margin-top: 22px;
}

.app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.app-unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 20px;
  color: grey;
  font-size: 12px;
}
