body {
  font-family: arial, sans-serif;
  background-color: rgb(247, 243, 255);
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
  margin: 12px auto;
}

.app {
  background-color: white;
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgb(129, 97, 192);
}

.form {
  background-color: rgb(247, 243, 255);
  border: none;
  border-radius: 15px;
  width: 99%;
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
}

.search-input {
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 83%;
  font-size: 16px;
  padding: 15px;
}

.submit-input {
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  margin-left: 15px;
}

.city {
  margin-top: 10px;
  font-size: 30px;
  line-height: 40px;
}

main {
  padding: 30px;
}

.app-data {
  display: flex;
  justify-content: space-between;
}

.app-temperature {
  display: flex;
}

.icon {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 30px;
}

.current-temperature {
  font-size: 50px;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 40px;
}

.unit {
  margin-top: 40px;
  font-size: 20px;
}

.weather-forecast {
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.forecast-day {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
}

.forecast-temperature {
  font-size: 13px;
  margin-top: 10px;
  display: flex;
}

.forecast-temperature-max {
  color: black;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 20px;
  color: grey;
  font-size: 12px;
}
