body {
  font-family: arial, sans-serif;
  background-color: rgb(247, 243, 255);
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
  margin: 0;
}

.app {
  background-color: white;
  margin: 20px 20px;
  max-width: 600px;
  padding: 30px;
  border-radius: 16px;
}

.form {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-input {
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 60%;
  font-size: 16px;
  padding: 15px 20px;
}

.submit-input {
  background-color: rgb(92, 92, 228);
  border-radius: 6px;
  padding: 15px 35px;
  font-size: 16px;
  color: white;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 20px;
  color: grey;
}
